<div class="container">
    <h1>Panier</h1>
    <div class="list">
        <app-cart-item />
        <app-cart-item />
        <app-cart-item />
        <app-cart-item />
        <app-cart-item />
        <app-cart-item />
        <app-cart-item />
        <app-cart-item />
        <app-cart-item />
        <app-cart-item />
        <app-cart-item />
        <app-cart-item />
        <app-cart-item />
        <app-cart-item />
        <app-cart-item />
        <app-cart-item />
        <app-cart-item />
        <app-cart-item />
        <app-cart-item />
        <app-cart-item />
        <app-cart-item />
        <app-cart-item />
    </div>
    <button class="button-37" role="button"><mat-icon fontIcon="shopping_cart"></mat-icon> Passer la commande</button>
</div>