<div class="new-container">
    <div class="new">
        <h1>Ajouter un produit au catalogue :</h1>
        <form>
            <label for="name">Nom du produit :</label>
            <input type="text" name="name" class="input">
            <br>
            <label for="price">Prix unitaire :</label>
            <input type="number" name="price" class="input">
            <br>
            <label for="tva">Montant de la TVA :</label>
            <input type="number" name="tva" class="input">
            <br>
            <label for="image">URL de l'image :</label>
            <input type="text" name="image" class="input">
            <br>
            <button type="submit" class="button-37" role="button"><mat-icon fontIcon="save"></mat-icon> Enregistrer</button>
        </form>
    </div>
</div>