<div class="container">
    <div class="catalogue">
        <app-catalogue [userType]="userType" [(addProductSignal)]="addProductSignal" [(createProductSignal)]="createProductSignal"/>
    </div>
    @if (userType != UserType.VISITOR) {
        <div class="aside">
            @if (userType == UserType.CUSTOMER) {
                <app-cart [(addProductSignal)]="addProductSignal"/>
            } @else if (userType == UserType.ADMIN) {
                <app-new-product [(createProductSignal)]="createProductSignal"/>
            }
        </div>
    }
</div>