.container {
    display: flex;
    height: calc(100vh - 90px);
    padding-top: 8px;
}

.catalogue {
    flex: 1;
    margin-right: 8px;
}

.aside {
    border-radius: 12px;
    background-color: rgba(19, 170, 82, 0.1);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
    width: 40%;
    padding: 8px;
}

/* When there's an aside, adjust widths */
.container:has(.aside) .catalogue {
    width: 60%;
    flex: none;
}